.analytics {
  display: flex;
  justify-content: center;
  background-color: var(--white-grey);
  &__wrapper {
    max-width: 1088px;
    width: 100%;
    padding: 16px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__header-item{
    display: flex;
    align-items:center;
  }

  &__logo {
    margin-right: 16px;
  }

  &__title {
    font-family: 'Roboto-Medium';
    font-size: 20px;
    line-height: 24px;
  }

  &__dropdown {
    display: flex;
    width: 97px;
    border: 1px solid var(--green);
    border-radius: 4px;
    margin-right: 18px;
  }
  &__dropdown-text{
    color: var(--green);
    font-family: 'Roboto-Regular';
    padding: 2px 8px;
  }

  &__dropdown-img{
    max-width: 7px;
  }

  &__heart {
  }

  &__params {
  }

  &__content {

  }

  &__content-header {
    display: flex;
    justify-content: space-between;
  }

  &__content-header-item {
    display: flex;
    align-items: center;
  }

  &__content-header-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content-header-dropdown-text {
    font-family: 'Roboto-Regular';
    font-size: 16px;
    line-height: 24px;
  }

  &__content-header-dropdown-img{

  }

  &__content-header-alarm {
    padding: 10px;
    border: 1px solid var(--grey1);
    border-radius: 4px;
    margin-right: 24px;
  }

  &__content-header-alarm-img {
  }

  &__content-header-saved {
    display: flex;
    align-items: center;
    color: var(--green);
    padding: 12px 12px 12px 16px;
    border: 1px solid var(--grey1);
    border-radius: 4px;
  }
  
  &__content-header-saved-text {
    font-family: 'Roboto-Medium';
    font-size: 14px;
    line-height: 16px;
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid var(--green-darks);
    cursor: pointer;
  }

  &__content-header-saved-saved-img {
  }

  &__content-datepicker {
  }

  &__content-datepicker-1 {
  }

  &__content-datepicker2 {
  }

  &__content-interval {
  }

  &__content-interval-item {
  }

  &__list {
  }

  &__item {
  }

  &__item-start {
  }

  &__item-type-work {
  }

  &__item-works {
  }

  &__item-result {
  }

  &__item-user-name {
  }
}
