.analytics {
  display: flex;
  justify-content: center;
  background-color: var(--white-grey);
}
.analytics__wrapper {
  max-width: 1088px;
  width: 100%;
  padding: 16px;
}
.analytics__header {
  display: flex;
  justify-content: space-between;
}
.analytics__header-item {
  display: flex;
  align-items: center;
}
.analytics__logo {
  margin-right: 16px;
}
.analytics__title {
  font-family: "Roboto-Medium";
  font-size: 20px;
  line-height: 24px;
}
.analytics__dropdown {
  display: flex;
  width: 97px;
  border: 1px solid var(--green);
  border-radius: 4px;
  margin-right: 18px;
}
.analytics__dropdown-text {
  color: var(--green);
  font-family: "Roboto-Regular";
  padding: 2px 8px;
}
.analytics__dropdown-img {
  max-width: 7px;
}
.analytics__content-header {
  display: flex;
  justify-content: space-between;
}
.analytics__content-header-item {
  display: flex;
  align-items: center;
}
.analytics__content-header-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}
.analytics__content-header-dropdown-text {
  font-family: "Roboto-Regular";
  font-size: 16px;
  line-height: 24px;
}
.analytics__content-header-alarm {
  padding: 10px;
  border: 1px solid var(--grey1);
  border-radius: 4px;
  margin-right: 24px;
}
.analytics__content-header-saved {
  display: flex;
  align-items: center;
  color: var(--green);
  padding: 12px 12px 12px 16px;
  border: 1px solid var(--grey1);
  border-radius: 4px;
}
.analytics__content-header-saved-text {
  font-family: "Roboto-Medium";
  font-size: 14px;
  line-height: 16px;
  padding-right: 8px;
  margin-right: 8px;
  border-right: 1px solid var(--green-darks);
  cursor: pointer;
}