.header {
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.1);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 0 24px;
}
.header__nav {
  display: flex;
}
.header__nav-choose {
  color: #23B04A;
  border-bottom: 2px solid #23B04A;
}
.header__nav-title {
  cursor: pointer;
  font-family: "Roboto-Regular";
  padding: 16px 35px;
}
.header__profile {
  padding: 2px;
}

.devices {
  display: flex;
  justify-content: center;
  align-items: center;
}
.devices__wrapper {
  width: 100%;
  max-width: 925px;
  padding: 52px 0 0 0;
}
.devices__search {
  width: calc(100% - 32px);
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border: 1px solid var(--grey1);
  border-radius: 4px;
  margin-bottom: 48px;
}
.devices__input {
  width: 100%;
  max-width: 544px;
  border: none;
  font-family: "Roboto-Regular";
  font-size: 16px;
  line-height: 24px;
}
.devices__qr {
  cursor: pointer;
}
.devices__title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.devices__title-svg {
  margin-right: 17.67px;
}
.devices__title-text {
  font-family: "Roboto-Medium";
  font-size: 20px;
  line-height: 24px;
  color: var(--grey3);
}
.devices__list {
  border: 1px solid var(--grey1);
  border-radius: 4px;
  padding: 0 12px;
}
.devices__item {
  display: flex;
  align-items: center;
  padding: 8px 0 7px;
}
.devices__item:first-child > .devices__item-title {
  color: var(--grey3);
  font-family: "Roboto-Medium";
}
.devices__item:first-child > .devices__item-status {
  font-family: "Roboto-Medium";
}
.devices__item-title {
  font-family: "Roboto-Regular";
  width: 100%;
  color: var(--grey4);
}
.devices__item-status {
  font-family: "Roboto-Regular";
  color: var(--grey3);
}
.devices__item-img-notice {
  padding: 10px;
}
.devices__dropdown {
  margin-right: 16px;
}
.devices__dropdown-wrapper {
  width: 97px;
}
.devices__dropdown-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid var(--grey2);
  border-radius: 4px;
  padding: 2px 4px 2px 8px;
  cursor: pointer;
  background: var(--white);
  font-family: "Roboto-Regular";
  color: var(--grey3);
}
.devices__item-status-text {
  margin-right: 54px;
  width: 97px;
}
.devices__dropdown-status-text {
  font-size: 14px;
  line-height: 20px;
}
.devices__dropdown-status-img {
  width: 16px;
  display: flex;
  justify-content: center;
  margin-left: 4px;
  transition: 0.3s;
  transform: rotate(0deg);
}
.devices__dropdown-status-img-rotate {
  transition: 0.3s;
  transform: rotate(180deg);
}
.devices__dropdown-list {
  height: 0;
  width: 97px;
  font-family: "Roboto-Regular";
  color: var(--grey3);
  border: 1px solid var(--grey2);
  border-radius: 4px;
  border-top: none;
  padding-bottom: 4px;
  opacity: 0;
  background: var(--white);
  position: absolute;
  transition: 0.2s ease;
  cursor: pointer;
  z-index: 1;
}
.devices__dropdown-item {
  padding: 4px 8px 2px;
  font-size: 14px;
  line-height: 20px;
}
.devices__dropdown-list-open {
  height: auto;
  opacity: 1;
}
.devices__dropdown-list-close {
  display: none;
}